[submodule "pure"]
  path = pure
  url  = https://github.com/sindresorhus/pure

[submodule "zshuery"]
  path = zshuery
  url  = https://github.com/myfreeweb/zshuery

[submodule ".tmux"]
  path = .tmux
  url = https://github.com/nviennot/tmux-config.git 
